.btn {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-red {
  background: #ad0000;
  color: #fff;
}

.board-read-status {
  font-size: 14px;

  a {
    color: #0000ee;
    text-decoration: underline;
  }
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  tr {
    border: 1px solid #efefef;
  }

  th {
    padding: 8px;
    font-size: 14px;
    color: #6f6863;
    background-color: #efeeee;
  }

  td {
    padding: 10px 8px;
    font-size: 14px;
    color: #6f6863;
  }
}

.title-area {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 80px;

  .title {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
    }

    b {
      font-weight: bold;
      color: #6f6863;
    }
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  ul {
    display: flex;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 10px;
  }

  li {
    cursor: pointer;
    font-weight: bold;
    color: #6f6863;
    padding: 8px 12px;
    &.active {
      color: #333;
      text-decoration: underline;
    }
  }
}

.error-box {
  margin-top: 4px;
  padding: 16px;
  font-size: 12px;
  color: #399650;
  border-radius: 4px;
  border: 1px solid #0d9d5f;
  background-color: #bde3bc;
}

.success-box {
  margin-top: 4px;
  padding: 16px;
  font-size: 12px;
  color: #399650;
  border-radius: 4px;
  border: 1px solid #0d9d5f;
  background-color: #bde3bc;
}
